<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Overview</h3>
    <p>HOPTIMA is an AI-powered interactive chatbot designed to transform the property search experience. Instead of sifting through endless listings, users can simply chat with the system using natural language queries (e.g., “2-bedroom house with parking under 1,5M near Yogyakarta”). The chatbot instantly provides highly targeted recommendations, saving time and effort while delivering a seamless and engaging property discovery journey.</p>
    <h3>Key Features</h3>
    <ul>
        <li>Interactive chatbot with natural language input for property search</li>
        <li>Personalized recommendations based on user preferences and location context</li>
        <li>Real-time suggestions & notifications for newly available properties</li>
        <li>Localized focus on the Yogyakarta area for more relevant results</li>
    </ul>
    <h3>Tools & Technologies</h3>
    <ul>
        <li>Google Cloud Platform (GCP)</li>
        <p>Cloud Storage – storing ML models and application assets</p>
        <p>Cloud Run – serverless deployment for scalable API services</p>
        <li>NLP with Retrieval-Augmented Generation (RAG) – for accurate, context-aware recommendations</li>
        <li>Flask – lightweight framework to build RESTful APIs</li>
        <li>Firestore – real-time database for storing and managing recommendation results</li>
    </ul>
    <h3>Impact</h3>
    <p>HOPTIMA delivers a smarter and more human-centric property search experience by combining AI-driven personalization, NLP-based interaction, and real-time property insights. Unlike generic listing platforms, HOPTIMA stands out with its chat-based interface, precise recommendations, and localized focus on Yogyakarta, making property discovery faster, simpler, and more engaging.</p>
</body>
</html>